body::before {
    content: "";
    background-image: url(../assets/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.nav-h1 {
    display: flex;
    color: #ddd;
    margin-right: auto;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    order: 1;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
}
.nav-links li {
    margin: 0 15px;
}
.nav-links a {
    font-size: larger;
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
    font-family: sans-serif;
}
.nav-links a:hover {
    color: #7a79eb;
}
.nav-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nav-container1{
    display: flex;
    width: 60%;
}
.nav-container2{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.logo img {
    height: 100px;
    width: 100px;
}

.logout {
    margin-left: 10px; /* Optional: spacing from the links */
}
.logout-icon {
    font-size: 20px; /* Adjust size as needed */
    color: #ddd; /* Adjust color as needed */
}
.logout-icon:hover {
    color: #7a79eb; /* Change color on hover */
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-big{
    margin-top: -100px;
    font-size: 80px;
    color: white;
    font-family: 'Rubik', sans-serif;
    
}
.text-small{
    margin-top: 60px;
    font-size: 15px;
    color: white;
}
.left{
    margin-left: 80px;
    width: 60%;
}

.right{     
    display: flex;
    justify-content: center;
    width: 70%;
}


.container-pic {
    position: relative;
    overflow: visible;
    margin-top: 0;
    width: 70%;
    height: 480px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.form-container {
    margin-top: 40px;
    justify-content: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.form-container1 {
    margin-top: 30px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.login button {
    width: 60%;
    padding: 10px;
    margin-left: 75px;
    margin-top: 16px;
    background-color: #1B1A55;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.login button:hover {
    background-color: #bebebe;
}


.last{
    margin-top: 20px;
}

.email{
    margin-top: 20px;
}

.message{
    margin-top: 35px;
}

.input-with-image {
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
}
.input-with-image1 {
    padding: 10px 40px 10px 10px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    height: 80px;

}

.last{
    margin-top: 20px;
}

.email{
    margin-top: 20px;
}

.message{
    margin-top: 35px;
}

@media only screen and (max-width:600px){
    
    .navbar {
        display: flex;
        align-items: center;
        padding: 10px 20px;
    }
    .nav-h1 {
        display: flex;
        margin: 0;
        color: #ddd;
        font-size: 40px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        align-items: center;
        justify-content: center;
    }
    
    .nav-links {
        display: flex;
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        order: 1;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        justify-content: center;
    }
    .nav-links li {
        margin: 0 15px;
    }
    .nav-links a {
        font-size: larger;
        text-decoration: none;
        color: #ddd;
        font-weight: bold;
        font-family: sans-serif;
    }
    .nav-links a:hover {
        color: #7a79eb;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .nav-container1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .nav-container2{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logo img {
        height: 80px;
        width: 80px;
    }
    .logout {
        margin-left: 10px; /* Optional: spacing from the links */
    }
    .logout-icon {
        font-size: 15px; /* Adjust size as needed */
        color: #ddd; /* Adjust color as needed */
    }
    .logout-icon:hover {
        color: #7a79eb; /* Change color on hover */
    }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text-big{
    margin-top: 20px;
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    
}
.text-small{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: justify;
    text-align-last: center;
}
.left{
    margin-left: 80px;
    width: 80%;
}

.right{     
    display: flex;
    justify-content: center;
    width: 70%;
}

.container-pic {
    position: relative;
    overflow: visible;
    margin-top: 0;
    width: 100%;
    height: 480px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.form-container {
    margin-top: 40px;
    justify-content: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.form-container1 {
    margin-top: 30px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.login button {
    width: 60%;
    padding: 10px;
    margin-left: 75px;
    margin-top: 16px;
    background-color: #1B1A55;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.login button:hover {
    background-color: #bebebe;
}

.last{
    margin-top: 20px;
}

.email{
    margin-top: 20px;
}

.message{
    margin-top: 35px;
}

.input-with-image {
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
}

.input-with-image1 {
    padding: 10px 40px 10px 10px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    height: 80px;
}

.last{
    margin-top: 20px;
}

.email{
    margin-top: 20px;
}

.message{
    margin-top: 35px;
}

}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .navbar {
        display: flex;
        align-items: center;
        padding: 10px 20px;
    }
    .nav-h1 {
        display: flex;
        margin: 0;
        color: #ddd;
        font-size: 40px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        align-items: center;
        justify-content: center;
    }
    .nav-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        justify-content: center;
    }
    .nav-links li {
        margin: 0 15px;
    }
    .nav-links a {
        font-size: larger;
        text-decoration: none;
        color: #ddd;
        font-weight: bold;
        font-family: sans-serif;
    }
    .nav-links a:hover {
        color: #7a79eb;
    }
    .nav-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .nav-container1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .nav-container2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logo img {
        height: 80px;
        width: 80px;
    }
    .logout {
        margin-left: 10px;
    }
    .logout-icon {
        font-size: 15px;
        color: #ddd;
    }
    .logout-icon:hover {
        color: #7a79eb;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .text-big {
        margin-top: 20px;
        font-size: 80px;
        color: white;
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: center;
    }
    .text-small {
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 15px;
        color: white;
        display: flex;
        justify-content: center;
        text-align: justify;
        text-align-last: center;
    }
    .left {
        width: 70%;
    }
    .right {
        display: flex;
        justify-content: center;
        width: 70%;
    }
    .container-pic {
        position: relative;
        overflow: visible;
        margin-top: 0;
        width: 70%;
        height: 480px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 2px solid #ffffff;
        display: flex;
        justify-content: center;
    }
    .form-container {
        margin-top: 40px;
        justify-content: center;
        width: 100%;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
    }
    .form-container1 {
        margin-top: 30px;
        width: 100%;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
    }
    .login button {
        width: 60%;
        padding: 10px;
        margin-left: 75px;
        margin-top: 16px;
        background-color: #1B1A55;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
    }
    .login button:hover {
        background-color: #bebebe;
    }
    .last {
        margin-top: 20px;
    }
    .email {
        margin-top: 20px;
    }
    .message {
        margin-top: 35px;
    }
    .input-with-image {
        padding: 10px 40px 10px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        width: 300px;
    }
    .input-with-image1 {
        padding: 10px 40px 10px 10px;
        background-repeat: no-repeat;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        width: 300px;
        height: 80px;
    }
}
