body::before{
    content: "";
    background-image: url(../assets/bg.jpg);
    background-size: 100% 100%;
	background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
	left: 0;
	width: 100%;
   	height: 100%;
	z-index: -1; 
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.nav-h1 {
    color: #ddd;
    margin-right: auto;
}
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    order: 1;
}
.nav-links li {
    margin: 0 15px;
}
.nav-links a {
    font-size: larger;
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
}
.nav-links a:hover {
    color: white;
}

.logo img {
    height: 100px;
    width: 100px;
}

.logout {
    margin-left: 10px; /* Optional: spacing from the links */
}
.logout-icon {
    font-size: 20px; /* Adjust size as needed */
    color: #ddd; /* Adjust color as needed */
}
.logout-icon:hover {
    color: white; /* Change color on hover */
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-big{
    margin-left: 180px;
    margin-top: -100px;
    size: 20;
    color: white;
}
.container-big p{
    font-size: 70px;
}
.container-small{
    margin-top: -120px;
    margin-left: 180px;
    size: 20;
    color: white;
}
.container-small p{
    font-size: 13px;
}

.round-image {
    margin-top: 40px;
    margin-right: 160px;
    width: 400px;
    height: 350px;
    border-radius: 10%;
    object-fit: cover;
}

.group{
    display: flex;
}

.group button:hover{
    background-color: rgb(27, 26, 26);
}

.button {
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px 20px;
    font-size: 16px;
    color: white; 
    background-color: #0F1A29;
    border: 1px solid white;
    border-radius: 20px; 
    cursor: pointer;
    text-align: center; 
    margin-left: 180px;
    margin-top: 20px;
    text-decoration: none;
}
.button:hover {
    background-color: #0056b3;
}
