body::before{
    content: "";
    background-image: url(../assets/bg.jpg);
    background-size: 100% 100%;
	background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
	left: 0;
	width: 100%;
   	height: 100%;
	z-index: -1; 
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 20px;
}
.navbar button{
    width: 90px;
    padding: 5px;
    margin-left: 35px;
    border-radius: 6px;
    color: #ddd;
    border-color: #ffffff;
    background-color: rgba(50, 50, 50, 0.5);
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.rectangle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.116);
    width: 85%;
    height: 1300px;
    border-radius: 30px;
}
.rec-top{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 9%;
    width: 90%;
    color: white;
    font-size: 44px;
}
.rec-mid{
    height: 70%;
    width: 90%;
    color: white;
}
.innercont{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.innercont-top{
    display: flex;
    width: 100%;
    justify-self: flex-start;
}
.innercont-bot{
    display: flex;
    justify-content: space-between  ;
    width: 100%;
}
.innercont1{
    width: 33.33%;
}
.innercont2{
    width: 50%;
}
.innercont3{
    width: 32%;
}

.rec-bot{
    display: flex;
    color: white;
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.rec-bot img{
    border-radius: 10px;
    height: 150px;
    width: 100%;
}

.tab{
    padding: 0px 10px;
}